.Button {
  background-color: #e7e7e7;
  color: black;
  border-radius: 4px;
  margin: 4px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Primary {
  background-color: #4caf50;
  color: white;
}

.Secondary {
  background-color: #008cba;
  color: white;
}
